@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
.events{
  height: 140vh;
  background-color: #01000c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scale: 1.5;
  overflow-x: hidden;
  
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* HOME PAGE CSS */

.background {
  background-image: url('/assets/background/background6.webp');
  background-size: cover;
  /* Ensure the background covers the container */
  background-position: 50%;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  /* Ensure it takes the full width */
  height: 100vh;
  overflow-x: hidden;
  /* Disable horizontal scrolling */
}

.background-about {
  background-image: url('/assets/background/background6.webp');
  /* Add your image path */
  background-size: cover;
  background-position: center;
}

.glasomorphic-about {
  backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(16, 19, 39, 0.53);
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    height: 100%;
}

.harry-text {
  z-index: 1;
  position: relative;
}

.glassmorphic {
  backdrop-filter: blur(5px);
  /* Reduce blur effect */
  background: rgba(255, 255, 255, 0.1);
  /* Adjust transparency */
  height: 100vh;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* FONT  */

@font-face {
  font-family: 'HarryP';
  src: url('/fonts/HarryP.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'H1';
  src: url('/fonts/GotikaBlack.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'H2';
  src: url('/fonts/HarryPot.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'C1';
  src: url('/fonts/Congrats.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'H3';
  src: url('/fonts/HarryPotter.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'B1';
  src: url('/fonts/Kp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'B2';
  src: url('/fonts/tchristmas.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.harry-text {
  font-family: 'HarryP', sans-serif;
  font-size: 15rem;
  color: gold;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px #000;

}

.harry-text-small {
  font-family: 'HarryP', sans-serif;
  font-size: 3rem;
  /* Smaller font size */
  color: gold;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px #000;
}

.harry-text-vsmall {
  font-family: 'HarryP', sans-serif;
  font-size: 2rem;
  /* Smaller font size */
  color: gold;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px #000;
}

.harry-text-Medium {
  font-family: 'HarryP', sans-serif;
  font-size: 6rem;
  /* Smaller font size */
  color: gold;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px #000;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Home Page - Gallery  */



/* .left-text{
    flex-basis: 30%;
}


.heading{
    font-size: 3rem;
    color: #fff;
    text-align: center;
}

.subheading{
    font-size: 1.5rem;
    color: #ddd;
    text-align: center;
    margin: 10px;
} */

.gallery{
    flex-basis: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    margin: auto;
}

.box{
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #222;
    background-blend-mode: hard-light;

    transition: all 1s ease-in-out;

    width:100%;
    height: 100%;
    position: relative;
}

.box:hover{
    background-color: #999;
    background-position: center;
}

.row2MEphailega{
    grid-row: span 2;
}

.col2MEphailega{
    grid-column: span 2;
}

@media screen and (max-width: 1024px){
    .container{
        flex-direction: column;
    }

    .gallery{
        width: 90%;
    }
    
    .left-text{
        margin: 5rem;
    }
}

@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }

    .gallery{
        width: 90%;
    }
    
    .box{
        grid-row: span 1;
        grid-column: span 3;
    }
}

/* HOME PAGE - EVENT SECTION  */

.scroll-container {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;
}
.scroll-container > * {
  flex: 0 0 auto;
  margin-right: 1rem; /* spacing between cards */
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* GALLERY PAGE CSS */

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.group {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}