*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.event-card{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'roboto', sans-serif;
}

.card{
    width: 350px;
    height: 380px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
}

.card-img{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;  /* Ensures the image covers the container */
    background-position: center;  /* Centers the image to crop evenly */
    background-repeat: no-repeat;
    border-radius: 20px;
    transform: translateZ(40px);
}

.card-body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, -40px) rotateY(180deg);
    width: 85%;
    height: 87%;
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid #111217;
}

.card:hover{
    transform: rotateY(180deg);
}

.card-body .bg{
    position: absolute;
    background: #111217;
    border-radius: 100px;
    width: 0%;
    transition: 0.55s;
}

.card-body .bg:nth-child(1){
    height: 25%;
    transform-origin: left;
    top: 0;
    left: -30%;
    transform: rotate(-10deg);
}

.card-body .bg:nth-child(2){
    height: 50%;
    transform-origin: right;
    top: 5%;
    right: -30%;
    transform: rotate(-10deg);
}

.card-body .bg:nth-child(3){
    height: 50%;
    transform-origin: left;
    top: 70%;
    left: -30%;
    transform: rotate(-10deg);
}

.card:hover .card-body .bg{
    width: 200%;
    transition-delay: 0.75s;
}

.card:hover .card-body .bg:nth-child(2){
    transition-delay: 0.75s;
}

.card:hover .card-body .bg:nth-child(3){
    transition-delay: 0.75s;
}

.content {
    position: relative;
    opacity: 0;
    transition: .5s;
    text-align: center;
    padding: 10px;
}

.title {
    font-size: 18px; /* Reduced font size for better fitting */
    margin-bottom: 5px;
    color: rgb(255, 230, 39);
    font-weight: bold; /* Bold for the title */
    text-transform: uppercase;
}

.short-description {
    font-size: 14px;
    margin-bottom: 5px;
    color: #c6c26f;
}

.location,
.price {
    font-size: 14px;
    margin-bottom: 5px;
    color: #dcdcdc;
}

.register-button {
    padding: 8px 17px;
    font-size: 7px;
    color: rgb(0, 0, 0);
    background-color: rgb(231, 216, 5);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 65%;
    height: 28px;
    margin-top: 5px;
}

.register-button:hover {
    background-color: rgb(0, 0, 0);
    color:#fff41e
}

.card:hover .content {
    opacity: 1;
    transition-delay: 0.95s;
}