.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transform: rotate(-12deg);
  position: relative;
}

.box34 {
  position: relative;
  width: 150px;
  height: 100px;
  transform-style: preserve-3d;
  /* animation: animate 20s linear infinite; */
}
.animate{
  width: 135px;
  height: 92px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}
.animate:hover {
  animation-play-state: paused;
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.center-text{
  position: absolute;
  top: -120%;
  left: -200%;
  /* transform: translate(-50%, -50%) !important; */
  font-size: 16rem;
  font-weight: bold;
  color: gold;
  z-index: 10;
  /* pointer-events: none; */
  /* transform-style: flat !important; */
  /* will-change: transform; */
  transform: rotate(12deg) !important;
}

.animate span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 36deg)) translateZ(450px);
  -webkit-box-reflect: below 2px linear-gradient(transparent, transparent);
}

.animate span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  border-radius: 15px;
  border: 4px double rgb(0, 0, 0);
}

img:hover {
  transform: translateY(-2px);
}