@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HarryPotter';
  src: url('/fonts/HarryP.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  overflow-x: hidden;
  font-family: 'HarryPotter';
  src: url('/fonts/HarryP.TTF') format('truetype');
}


.typing-demo {
  width: 4.88ch;
  animation: typing 2s steps(18), blink 2s steps(18) 2s forwards; /* Adjusted to stop blinking after typing */
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: 'HarryPotter';
  font-size: 5.1em;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 4.88ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: transparent; /* Keeps cursor hidden after animation completes */
  }
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
